/* =======================================
   Base Layout
   ======================================= */

html {
  scroll-behavior: smooth;
}

.home {
  width: 100%;
  overflow-x: hidden;
  background: var(--clr-dark);
  color: var(--clr-light);
}

.home section {
  scroll-margin-top: var(--header-h);
  text-align: center;
}

.home p {
  text-align: justify;
  max-width: 800px;
  margin: 2rem auto;
}

/* Override scroll margin on smaller screens */
@media (max-width: 768px) {
  .home section {
    scroll-margin-top: var(--header-ph);
  }
  .section-header{
    font-size: 20vw !important;
    text-shadow: 3px 3px 0 var(--accent-a), 6px 6px 0 var(--accent-b), 9px 9px 0 var(--hover);
  }
}

/* =======================================
   Section Container
   ======================================= */

.section-container {
  height: 95vh;
  background: url("https://w.wallhaven.cc/full/vm/wallhaven-vm6vgm.png") center / 100% 100% no-repeat;
  transition: background-size 5s ease;
  background-size: 100% 100%;
  background-position: center 50%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin: 0 auto;
}

.section-container:hover {
  background-size: 150% 150%;
}


/* =======================================
   Font Styling
   ======================================= */

@font-palette-values --retro {
  font-family: "Honk";
  base-palette: 5;
}

.section-header{
  font-family: "Honk", system-ui;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 14, "SHLN" 50;
  font-palette: --retro;
  font-size: 8vw;
  letter-spacing: 2px;
  text-shadow: 3px 3px 0 var(--accent-a), 6px 6px 0 var(--accent-b), 9px 9px 0 var(--hover);
  margin: 0;
  text-transform: uppercase;
}

